@font-face {
    font-family: Gotham;
    font-display: swap;
    font-weight: 800;
    src: url(../fonts/Gotham_Black.otf) format("truetype");
}


@font-face {
    font-family: Gotham;
    font-display: swap;
    font-weight: 700;
    src: url(../fonts/Gotham_Bold.otf) format("truetype");
}

@font-face {
    font-family: Gotham;
    font-display: swap;
    font-weight: 400;
    src: url(../fonts/Gotham_Book.otf) format("truetype");
}

@font-face {
    font-family: Gotham;
    font-display: swap;
    font-weight: 500;
    src: url(../fonts/Gotham_Medium.otf) format("truetype");
}



body {
    color: #4A4A49;
    font-family: Gotham;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    background-color: #fff;
}

a {
    transition: all 0.3s ease-out;
    text-decoration: none;
}
a:hover {
    color: inherit;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.block {
    display: block;
}

.fade-in-element {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.4s ease-in, transform 0.4s ease-in;
}

.fade-in-element.visible {
    opacity: 1;
    transform: translateY(0);
}
  
.img-fluida img {
    width: 100%;
    height: auto;
}

p {
    color: #000;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.img-100 {
    width: 100%;
    height: auto;
}

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent; 
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0; 
}
.slick-list:focus {
    outline: none; 
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand; 
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); 
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto; 
}
.slick-track:before, .slick-track:after {
    content: "";
    display: table; 
}
.slick-track:after {
    clear: both; 
}
.slick-loading .slick-track {
    visibility: hidden; 
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none; 
}
[dir="rtl"] .slick-slide {
    float: right; 
}
.slick-slide img {
    display: block; 
}
.slick-slide.slick-loading img {
    display: none; 
}
.slick-slide.dragging img {
    pointer-events: none; 
}
.slick-initialized .slick-slide {
    display: block; 
}
.slick-loading .slick-slide {
    visibility: hidden; 
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; 
}

.slick-arrow.slick-hidden {
    display: none; 
}

/*** Site ***/

.topo {
    padding: 15px 0px 0px 0px;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #fff;
    z-index: 99;
}

.menu {
    display: block;
    text-align: center;
}

.menu a {
    display: inline-block;
    color: #004588;
    font-family: Gotham;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0px 10px;
}

.botoes-topo {
    display: block;
    background: #004588;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.30);
    text-align: center;
    padding: 10px 0px;
    margin-top: 20px;
}

.botoes-topo a {
    display: inline-block;
    color: #F8F8F8;
    font-family: Gotham;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    border-radius: 28.373px;
    border: 0.887px solid #FFF;
    display: inline-block;
    padding: 5px 50px;
    margin: 0px 20px;
}

.botoes-topo a:hover {
    color: #004588;
    background-color: #fff;
}

.principal {
    margin-top: 169px;
}

.hero {
    padding: 30px 0px;
    text-align: center;
}

.hero h1 {
    color: #004588;
    text-align: center;
    font-family: Gotham;
    font-size: 25px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.hero p {
    color: #000;
    text-align: center;
    font-family: Gotham;
    font-size: 16x;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.btn-azul {
    color: #FFF;
    text-align: center;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    border-radius: 5px;
    background: #00ADEF;
    display: inline-block;
    padding: 10px 20px;
}

.btn-azul:hover {
    background: #004588;
    color: #fff;
}


.btn-azul-escuro {
    color: #FFF;
    text-align: center;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    border-radius: 5px;
    background: #004588;
    display: inline-block;
    padding: 10px 20px;
}

.btn-azul-escuro:hover {
    background: #00ADEF;
    color: #fff;
}

.btn-branco {
    color: #00ADEF;
    text-align: center;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    border-radius: 5px;
    background: #fff;
    display: inline-block;
    padding: 10px 20px;
}

.btn-branco:hover {
    background: #00ADEF;
    color: #fff;
}

.sec {
    padding-top: 32px;
}

.sec h2 {
    color: #004588;
    font-family: Gotham;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 22px;
}

.sec h3 {
    color: #000;
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 100% */
    margin-bottom: 22px;
}

.sec p {
    color: #000;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.sec-imagem-texto-1 img {
    border-radius: 10px;
}

.content-botoes-home {
    border-radius: 12px;
    background: #FFF;
    filter: drop-shadow(2px 2px 8px rgba(0, 0, 0, 0.20));
    padding: 20px;
    text-align: center;
}

.content-botoes-home h2 {
    color: #004588;
    text-align: center;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.content-botoes-home p {
    color: #1A1A1A;
    text-align: center;
    font-family: Gotham;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
    min-height: 36px;
}

.sec-exames-realizados {
    margin-top: 20px;
}

.cada-exame-content {
    border-radius: 12px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
}

.cada-exame-content:hover .cada-exame-right {
    background-color: #00ADEF;
}

.cada-exame-content:hover a {
    color: #00ADEF;
}

.cada-exame-left a {
    color: #004588;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 22px; /* 137.5% */
}

.cada-exame-left {
    background-position: 17px center;
    background-repeat: no-repeat;
    padding: 23px 0px;
    background-size: 46px;
    width: 70%;
    float: left;
    padding-left: 80px;
}

.cada-exame-right {
    width: 30%;
    float: right;
    text-align: center;
    color: #fff;
    text-align: center;
    font-family: Poppins;
    font-size: 9px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.9px;
    text-transform: uppercase;
    border-radius: 0px 12px 12px 0px;
    background: #004588;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-top: 20px;
    height: 90px;
}

.cada-exame-right span {
    display: block;
    margin-top: 10px;
}

.content-exames-realizados {
    margin-top: 22px;

}

.sec-cta-texto-cinza {
    margin: 32px 0px;
}

.content-cta-texto-cinza {
    border-radius: 12px;
    background: rgba(222, 222, 222, 0.62);
    padding: 23px 34px;
}

.content-cta-texto-cinza h2 {
    color: #004588;
    font-family: Gotham;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.content-cta-texto-cinza p {
    color: #000;
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    line-height: 18px; /* 128.571% */
}

.sec-blog-home .btn-azul {
    margin-top: 32px;
}

.img-blog {
    height: 150px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    border-radius: 10px;
    box-shadow: 4px 10px 30px 0px rgba(0, 0, 0, 0.06);
}

.content-blog {
    border-radius: 0px 0px 10px 10px;
    background: #004588;
    padding: 20px 24px 15px 24px;
    margin-top: -8px;
}

.content-blog h3 {
    margin-bottom: 0px;
}

.content-blog h3 a {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.carousel-blog .slick-slide {
    padding: 0 15px;
}

.carousel-blog .slick-list {
    margin: 0 -15px; 
}

.sec-depoimentos {
    background-color: #004588;
    margin: 32px 0px 0px 0px;
    padding: 22px;
}

.sec-depoimentos h2 {
    color: #fff;
    font-family: Gotham;
    font-size: 26px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content-autor-depoimento {
    display: block;
    overflow: hidden;
}

.autor-left {
    border-radius: 100px;
    background-color: #fff;
    text-align: center;
    color: #313131;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 118.182% */
    width: 50px;
    height: 50px;
    padding-top: 10px;
    float: left;
    margin-right: 10px;
}

.autor-right {
    float: left;
}

.autor-right h3 {
    display: block;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 162.5% */
    line-height: 26px;
    margin-bottom: 0px;
}

.cada-depoimento-texto {
    margin-top: 22px;
}

.cada-depoimento-texto p {
    color: #FFF;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 157.143% */
}

.carousel-depoimentos {
    margin-top: 32px;
}

.slick-arrow {
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 73%;
    text-indent: -9999px;
    overflow: hidden;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 30%; 
}


.slick-prev {
    background-image: url(../images/seta-direita.svg);
    left: -50px;
    
}

.slick-next {
    background-image: url(../images/seta-esquerda.svg);
    right: -20px;
}

.slick-dots {
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
}

.slick-dots li.slick-active button {
    background: #fff;
    opacity: 1;
}

.slick-dots li button {
    text-indent: -999px;
    width: 50px;
    height: 5px;
    overflow: hidden;
    margin: 0px 5px;
    border-radius: 2.5px;
    opacity: 0.5;
    background: #CACACA;
    border: 0px;
}

.lista-unidades iframe {
    width: 100%;
    height: 200px;
}

.content-cada-unidade {
    background: #004588;
    color: #fff;
    padding: 30px;
    margin-top: -10px;
}


.content-cada-unidade h3 {
    display: block;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 24.842px; /* 124.212% */
    text-transform: uppercase;
}

.content-cada-unidade p {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 15px 0px;
}

.icon-phone {
    background-image: url(../images/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 25px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
}

.rodape {
    background: rgba(222, 222, 222, 0.50);
    padding: 22px 0px;
}

.rodape h2 {
    color: #004588;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 96.935%; /* 17.448px */
    margin: 15px 0px;
}

.rodape ul li {
    font-size: 16px;
    color: #313131;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 15px;
}

.rodape p {
    font-size: 16px;
    color: #313131;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 0px;
}

.menu-rodape {
    display: block;
    margin-top: 15px;
}

.menu-rodape a {
    color: #004588;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
}

.menu-rodape a:hover {
    color: #00ADEF;
}

.social {
    margin-top: 22px;
    margin-bottom: 22px;
}

.social a {
    display: inline-block;
    margin-right: 10px;
}

.rodape p.p-aviso {
    color: #313131;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px; /* 128.571% */
    letter-spacing: 0.91px;
}

.rodape p.assinatura {
    text-align: center;
    margin-top: 22px;
}

.rodape p.assinatura a {
    color: #313131;
}

.bloco-1-sobre {
    padding: 22px 0px;
}

.bloco-1-sobre h1 {
    color: #004588;
    text-align: center;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 22px;
}

.bloco-1-sobre iframe {
    width: 100%;
    height: 350px;
}

.sec-azul-sobre {
    background: linear-gradient(
    to right,
    #004588 0%,
    #004588 50%,
    #EAEAEA 50%,
    #EAEAEA 100%
  );
    padding: 22px 0px;
}

.sec-azul-sobre img {
   border-radius: 10px; 
}

.sec-azul-sobre h3 {
    color: #FFF;
    text-align: center;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-top: 12px;
}

.sec-azul-sobre h4 {
    display: block;
    color: #004588;
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 22px; /* 110% */
}

.sec-azul-sobre ul li {
    color: #313131;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 114.286% */
    margin-bottom: 8px;
}

.sec-azul-sobre .col-lg-6:first-child {
    padding-right: 30px;
}

.cada-historia {
    text-align: center;
}

.cada-historia p {
    font-size: 14px;
}

.ano {
   width: 47px;
   height: 47px;
   background-color: #004588;
   border-radius: 100%;
   text-align: center;
   color: #FFF;
    text-align: center;
    font-size: 14.1px;
    font-style: normal;
    font-weight: 600;
    line-height: 23.97px; /* 170% */
    padding-top: 11px;
    display: inline-block;
    position: relative;
    z-index: 2;
}

.carousel-historia::after {
    width: 100%;
    height: 2px;
    background-color: #00ADEF;;
    position: absolute;
    content: " ";
    top: 22px;
}

.img-historia {
    width: 132px;
    height: 101px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    border-radius: 7.082px;
    display: inline-block;
    margin: 10px 0px;
}

.sec-azul-sobre .col-lg-6:last-child {
    padding-left: 30px;
}

.carousel-historia .slick-dots li.slick-active button {
    background-color: #004588;
}

.carousel-historia .slick-list {
    z-index: 2;
}

.cada-icon-clinica-sobre {
    display: block;
    overflow: hidden;
    position: relative;
}

.cada-icon-clinica-sobre img {
    float: left;
    position: absolute;
    left: 0px;
    top: 20px;
}

.cada-icon-clinica-sobre p {
    color: #313131;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 11px;
    background: rgba(222, 222, 222, 0.62);
    padding: 10px 10px 10px 33px;
    float: right;
    width: 95%;
}

.sec-referencia-sobre {
    background: #004588;
    padding: 20px 0px;
    margin-top: 20px;
}

.sec-referencia-sobre h2 {
    display: block;
    color: #FFF;
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 15px;
    text-align: center;
}

.cada-referencia {
    position: relative;
    margin-top: 15px;
}

.icon-referencia {
    width: 28px;
    height: 28px;
    background-image: url(../images/icon-referencia.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    left: -15px;
    top: -3px;
    background-color: #004588;
    z-index: 2;
}

.cada-referencia h3 {
    display: block;
    border-radius: 0 75px 75px 0;
    background: #00ADEF;
    color: #FFF;
    font-family: Gotham;
    font-size: 15px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    padding: 5px 5px 5px 22px;
    margin-bottom: 0px;
    position: relative;
    z-index: 1;
}

.cada-referencia p {
    border-radius: 0px 0px 12px 12px;
    background: #FFF;
    padding: 20px 15px;
    font-size: 14px;
    margin-top: -10px;
    width: 99.7%;
}

.sec-referencia-sobre h4 {
   color: #FFF;
    text-align: center;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    margin-top: 22px;
}

.bloco-1-exames {
    padding-top: 32px;
}

.bloco-1-exames h1 {
    color: #004588;
    font-family: Gotham;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.img-top-iternas {
    width: 100%;
    height: 40vh;
    background-position: top center;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 22px;
}

.btn-exame-1 {
    padding: 11px;
    border-radius: 12px;
    background-color: rgba(0, 69, 136, 0.42);
    color: #004588;
    font-family: Gotham;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: block;
    margin-bottom: 10px;
    background-image: url(../images/seta-exame.svg);
    background-repeat: no-repeat;
    background-position: 96% center;
}

.btn-exame-1:hover {
    background-color: #004588;
    color: #fff;
    background-image: url(../images/seta-exame-hover.svg);
}

.btn-exame-2 {
    padding: 11px;
    border-radius: 12px;
    background: rgba(0, 173, 239, 0.31);
    color: #004588;
    font-family: Gotham;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: block;
    margin-bottom: 10px;
    background-image: url(../images/seta-exame.svg);
    background-repeat: no-repeat;
    background-position: 96% center;
}

.btn-exame-2:hover {
    background-color: #004588;
    color: #fff;
    background-image: url(../images/seta-exame-hover.svg);
}

.cada-grupo-exames {
    margin-top: 32px;
}

.cada-grupo-exames h2 {
    display: block;
    color: #004588;
    font-family: Gotham;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

.sec-azul-exames {
    background: #004588;
    padding: 22px 0px;
}

.sec-azul-exames img {
    border-radius: 10px;
}

.sec-azul-exames h3 {
    color: #FFF;
    font-family: Gotham;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
}

.single-exame-content .img-top-iternas {
    margin-top: 22px;
}

.single-exame-content li {
    color: #000;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
}

.single-exame-content h2 {
    color: #004588;
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 112.596%; /* 18.015px */
    margin-bottom: 12px;
}

.single-exame-content a {
    color: #004588;
}

.img-cta-azul-exame {
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin: 22px 0px;
}

.cta-azul-exame {
    background: #004588;
    padding: 22px 0px;
}

.cta-azul-exame p {
    color: #fff;
}

.cta-azul-exame h3 {
    display: block;
    color: #FFF;
    font-family: Gotham;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.cta-azul-exame h4 {
   color: #FFF;
    font-family: Gotham;
    font-size: 26px;
    font-style: normal;
    font-weight: 900;
    line-height: normal; 
}

.cada-profissional {
    margin-bottom: 30px;
}

.cada-profissional:hover .content-texto-profissional {
    background-color: #004588;
}

.img-profissional {
    width: 100%;
    height: 183px;
    border-radius: 8px 8px 0px 0px;
    background-position: center;
    background-size: cover;
}

.content-texto-profissional {
    border-radius: 3.971px;
    background: #00A1DF;
    padding: 12px;
    text-align: center;
    margin-top: -5px;
}

.content-texto-profissional h2 {
    display: block;
    color: #FFF;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: 105%; /* 10.5px */
    letter-spacing: -0.2px;
}

.info-medico {
    color: #FFF;
    text-align: center;
    font-family: Gotham;
    font-size: 12px;
    font-style: normal;
}

.info-medico span {
    font-weight: 400;
}

.info-medico strong {
    font-weight: 900;
}

.cta-profissionais {
    padding: 32px 0px;
}

.cta-profissionais h4 {
    display: block;
    color: #004588;
    text-align: center;
    font-family: Gotham;
    font-size: 22px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.info-single-medico {
    color: #004588;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 105%; /* 14.7px */
    letter-spacing: -0.28px;
    margin: 50px 0px 20px 0px;
}

.img-profissional-single {
    margin-top: 12px;
}

.sec-azul-exames p {
    color: #fff;
}

.single-profissional {
    margin-bottom: 32px;
}

.content-convenios {
    border-radius: 11.186px;
    background: #FFF;
    padding: 22px;
    box-shadow: 1.864px 1.864px 7.458px 0 rgba(0, 0, 0, 0.20);
}

.content-convenios .col-md-2 {
    margin-bottom: 30px;
}

.cta-convenios {
    text-align: center;
}

.cada-unidade-pag {
    background-color: #004588;
    padding: 20px;
    text-align: center;
}

.cada-unidade-pag h2 {
    display: block;
    color: #FFF;
    text-align: center;
    font-family: Gotham;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.cada-unidade-pag p {
    color: #FFF;
    text-align: center;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 12px;
}

.cada-unidade-pag a:hover {
    color: #00A1DF;
}

.img-unidade {
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    margin: 12px 0px;
}

.phone-unidade {
    display: inline-block;
    background-image: url(../images/unidade-phone.svg);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 25px;
    color: #FFF;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.whatsapp-unidade {
    display: inline-block;
    background-image: url(../images/unidade-whatsapp.svg);
    background-position: left center;
    background-repeat: no-repeat;
    padding-left: 25px;
    color: #FFF;
    font-family: Gotham;
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

@media (max-width: 1399.98px) {
    .menu a {
        font-size: 14px;
        margin: 0px 4px;
    }
    .cada-exame-left a {
        line-height: 22px;
        display: block;
    }
    .content-cada-unidade {
        min-height: 279px;
    }
}

@media (max-width: 1199.98px) {
    .menu a {
        font-size: 13px;
        margin: 0px 3px;
    }
    .menu {
        text-align: right;
    }
    .content-botoes-home h2 {
        font-size: 16px;
    }
    .content-cada-unidade h3 {
        font-size: 16px;
    }
    .icon-phone {
        font-size: 14px;
    }
}

@media (max-width: 991.98px) {
    .menu {
        display: none;
    }
    .botoes-topo {
        display: block;
        overflow: hidden;
    }
    .botoes-topo a {
        width: 48%;
    }
    .botoes-topo a:first-child {
        margin: 0px;
        float: left;
    }
    .botoes-topo a:last-child {
        margin: 0px;
        float: right;
    }
    .principal {
        margin-top: 144px;
    }
    .hero h1 {
        margin-top: 12px;
        font-size: 20px;
    }
    .btn-azul, .btn-azul-escuro, .btn-branco {
        font-size: 9px;
    }
    .sec-imagem-texto-1 {
        text-align: center;
    }
    .sec h2 {
        font-size: 20px;
    }
    .img-cta-texto-img {
        margin-bottom: 22px;
    }
    .sec p {
        font-size: 14px;
    }
    .content-botoes-home p {
        margin-bottom: 0px;
    }
    .content-botoes-home .btn-azul-escuro {
        margin-bottom: 25px;
    }
    .content-cada-unidade h3 {
        margin-bottom: 10px;
    }
    .content-cada-unidade {
        min-height: 224px;
    }
    .rodape {
        text-align: center;
    }
    .rodape ul {
        text-align: left;
        margin: 25px 0px;
    }
    .menu-rodape a {
        font-size: 12px;
    }
    
}

@media (max-width: 767.98px) {
    p {
        font-size: 14px;
    }
    .botoes-topo a {
        font-size: 12px;
        padding: 5px 10px;
    }
    .logo {
        max-width: 143px;
    }
    .principal {
        margin-top: 140px;
    }
    .carousel-blog .slick-slide {
        padding: 0 0px;
    }

    .carousel-blog .slick-list {
        margin: 0 0px; 
    }
    .hero p {
        font-size: 14px;
    }
    .sec-exames-realizados {
        text-align: center;
    }
    .sec h3 {
        font-size: 18px;
        line-height: 21px;
    }
    .cada-exame-left {
        text-align: left;
    }
    .content-cta-texto-cinza {
        text-align: center;
    }
    .content-cta-texto-cinza h2 {
        font-size: 20px;
    }
    .content-cta-texto-cinza p {
        font-size: 14px;
    }
    .sec-blog-home {
        text-align:center;
    }
    .content-blog h3 a {
        font-size: 14px;
    }
    .sec-depoimentos h2 {
        font-size: 20px;
    }
    .cada-depoimento-texto p {
        font-size: 14px;
    }
    .bloco-1-sobre iframe {
        height: 261px;
    }
    .bloco-1-sobre h1 {
        font-size: 20px;
    }
    .sec-azul-sobre {
        background: linear-gradient(to bottom, #004588 0%, #004588 44%, #EAEAEA 44%, #EAEAEA 100%);
        padding: 22px 0px;
    }
    .sec-azul-sobre .col-lg-6:first-child {
        padding-right: 12px;
    }
    .sec-azul-sobre .col-lg-6:last-child {
        padding-left: 12px;
        padding-top: 50px;
    }
    .sec-azul-sobre ul li {
        font-size: 14px;
        margin-bottom: 5px;
    }
}

@media (max-width: 575.98px) { }









